{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Treatment</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <h2>Surgery</h2>
      <p>
There are several different surgical techniques for the removal of acoustic neuroma.[19] The choice of approach is determined by size of the tumour, hearing capability, and general clinical condition of the person.

<ul><li>
The retrosigmoid approach offers some opportunity for the retention of hearing.
</li><li>The translabyrinthine approach will sacrifice hearing on that side, but will usually spare the facial nerve. Post-operative cerebrospinal fluid leaks are more common.
</li><li>The middle fossa approach is preferred for small tumors and offers the highest probability of retention of hearing and vestibular function.
</li><li>Less invasive endoscopic techniques have been done outside of the United States for some time. Recovery times are reported to be faster. However, this technique is not yet mainstream among surgeons in the US.
</li></ul></p>
      <p>Larger tumors can be treated by either the translabyrinthine approach or the retrosigmoid approach, depending upon the experience of the surgical team. With large tumors, the chance of hearing preservation is small with any approach. When hearing is already poor, the translabyrinthine approach may be used for even small tumors. Small, lateralized tumours in people with NF2 with good hearing should have the middle fossa approach. When the location of the tumour is more medial a retrosigmoid approach may be better.
</p>

<p>Auditory canal decompression is another surgical technique that can prolong usable hearing when a vestibular schwannoma has grown too large to remove without damage to the cochlear nerve. In the IAC (internal auditory canal) decompression, a middle fossa approach is employed to expose the bony roof of the IAC without any attempt to remove the tumor. The bone overlying the acoustic nerve is removed, allowing the tumour to expand upward into the middle cranial fossa. In this way, pressure on the cochlear nerve is relieved, reducing the risk of further hearing loss from direct compression or obstruction of vascular supply to the nerve.
</p>

<p>Radiosurgery is a conservative alternative to cranial base or other intracranial surgery. With conformal radiosurgical techniques, therapeutic radiation focused on the tumour, sparing exposure to surrounding normal tissues. Although radiosurgery can seldom completely destroy a tumor, it can often arrest its growth or reduce its size. While radiation is less immediately damaging than conventional surgery, it incurs a higher risk of subsequent malignant change in the irradiated tissues, and this risk is higher in NF2 than in sporadic (non-NF2) lesions.
</p>

<h2>Medications</h2>
<p>There are no prescription medicines currently indicated for reduction in tumor burden for NF2 patients, although in patient studies Bevacizumab has resulted in reduction in tumor growth rates and hearing improvements in some patients.
</p>

<h2>Treatment hearing loss</h2>
<p>As hearing loss in individuals with NF2 is generally gradual, eventually profound and sensorineural, the best options for treatment for hearing loss are cochlear implants and auditory brainstem implants (ABIs), as well as supplementing hearing with lip-reading, cued speech or sign language.
</p>

<h3>Cochlear Implants</h3>
<p>A cochlear implant is an electronic device that is surgically implants to stimulate the cochlear nerve.[22] Cochlear implants will work only when the cochleovestibular nerve (8th nerve) and the cochlea are still functioning. In a study done with open-set speech perception testing and closed-set speech perception testing by Neff et al., they discovered that the use of cochlear implants with NF2 patients allowed significant improvement of hearing abilities.[23] In testing of recognition of sentences of everyday speech, five out of six patients scored within the 90–100% range, and in testing of hearing in noise setting, four of six of the patients scored within the 83–96%.[23] Additionally, all testing was done without lip-reading.
</p>

<h3>Auditory Brainstem Implants (ABIs)</h3>
<p>Auditory Brainstem Implants, or ABIs, are used when the cochlea or any portion of the cochleovestibular nerve are not functioning due to damage to those areas or anatomic abnormalities.[24] The procedure is done by implanting a device that send an electrical signal directly to the cochlear nucleus, allowing sound to bypass the peripheral auditory system and straight into the brain stem.[citation needed]
</p>

{% include "footer.html" %}